<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.bap__ftp.BapFtpPublisherPlugin>
      <delegate>
        <publishers>
          <hudson.plugins.bap__ftp.BapFtpPublisher>
            <configName>Config b</configName>
            <verbose>true</verbose>
            <transfers>
              <hudson.plugins.bap__ftp.BapFtpTransfer>
                <remoteDirectory>&apos;helloo-${BUILD_NUMBER}&apos;-MMDD</remoteDirectory>
                <sourceFiles>**/*</sourceFiles>
                <removePrefix>target</removePrefix>
                <remoteDirectorySDF>true</remoteDirectorySDF>
                <flatten>true</flatten>
                <asciiMode>true</asciiMode>
              </hudson.plugins.bap__ftp.BapFtpTransfer>
            </transfers>
          </hudson.plugins.bap__ftp.BapFtpPublisher>
          <hudson.plugins.bap__ftp.BapFtpPublisher>
            <configName>Config a</configName>
            <verbose>false</verbose>
            <transfers>
              <hudson.plugins.bap__ftp.BapFtpTransfer>
                <remoteDirectory></remoteDirectory>
                <sourceFiles>target\images\*</sourceFiles>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <asciiMode>false</asciiMode>
              </hudson.plugins.bap__ftp.BapFtpTransfer>
              <hudson.plugins.bap__ftp.BapFtpTransfer>
                <remoteDirectory>serverlogs</remoteDirectory>
                <sourceFiles>target\logs\**\*</sourceFiles>
                <removePrefix>target\logs</removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>true</flatten>
                <asciiMode>true</asciiMode>
              </hudson.plugins.bap__ftp.BapFtpTransfer>
            </transfers>
          </hudson.plugins.bap__ftp.BapFtpPublisher>
        </publishers>
        <continueOnError>true</continueOnError>
        <failOnError>true</failOnError>
        <alwaysPublishFromMaster>true</alwaysPublishFromMaster>
        <hostConfigurationAccess class="hudson.plugins.bap_ftp.BapFtpPublisherPlugin" reference="../.."/>
      </delegate>
      <consolePrefix>FTP: </consolePrefix>
    </hudson.plugins.bap__ftp.BapFtpPublisherPlugin>
  </publishers>
  <buildWrappers/>
</project>