<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ The MIT License
  ~
  ~ Copyright (C) 2010-2011 by Anthony Robinson
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <jenkins.plugins.publish__over__ftp.BapFtpPublisherPlugin>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ftp.BapFtpPublisher>
            <configName>Config b</configName>
            <verbose>true</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ftp.BapFtpTransfer>
                <remoteDirectory>&apos;helloo-${BUILD_NUMBER}&apos;-MMDD</remoteDirectory>
                <sourceFiles>**/*</sourceFiles>
                <removePrefix>target</removePrefix>
                <remoteDirectorySDF>true</remoteDirectorySDF>
                <flatten>true</flatten>
                <asciiMode>true</asciiMode>
              </jenkins.plugins.publish__over__ftp.BapFtpTransfer>
            </transfers>
          </jenkins.plugins.publish__over__ftp.BapFtpPublisher>
          <jenkins.plugins.publish__over__ftp.BapFtpPublisher>
            <configName>Config a</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ftp.BapFtpTransfer>
                <remoteDirectory></remoteDirectory>
                <sourceFiles>target\images\*</sourceFiles>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <asciiMode>false</asciiMode>
              </jenkins.plugins.publish__over__ftp.BapFtpTransfer>
              <jenkins.plugins.publish__over__ftp.BapFtpTransfer>
                <remoteDirectory>serverlogs</remoteDirectory>
                <sourceFiles>target\logs\**\*</sourceFiles>
                <removePrefix>target\logs</removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>true</flatten>
                <asciiMode>true</asciiMode>
              </jenkins.plugins.publish__over__ftp.BapFtpTransfer>
            </transfers>
          </jenkins.plugins.publish__over__ftp.BapFtpPublisher>
        </publishers>
        <continueOnError>true</continueOnError>
        <failOnError>true</failOnError>
        <alwaysPublishFromMaster>true</alwaysPublishFromMaster>
        <masterNodeName>MASTER</masterNodeName>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ftp.BapFtpPublisherPlugin" reference="../.."/>
      </delegate>
      <consolePrefix>FTP: </consolePrefix>
    </jenkins.plugins.publish__over__ftp.BapFtpPublisherPlugin>
  </publishers>
  <buildWrappers/>
</project>